@{
    ViewBag.Title = "Home Page";
}

<section>
    <div>
        <p>
            Bem-vindo ao sistema de gestão de Frota de veículos!

            É um prazer recebê-lo(a) aqui. Este sistema foi desenvolvido com o objetivo de proporcionar uma gestão eficiente e inteligente dos veículos da nossa frota, tornando suas operações mais ágeis e transparentes.

            Estamos comprometidos em fornecer as ferramentas necessárias para que você possa acompanhar, controlar e otimizar o uso dos veículos de forma simples e intuitiva.

        </p>
    </div>
    
    <style>
        p{
            text-align:center;
        }
    </style>
</section>